*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;

}

​h1 { font-size: 18px;
}


​ol,
ul {
  list-style: none;
}