
main {
    margin-left: 5rem;
    padding: 1rem;
}

body {
    background-color: gray;
}
/* scroll bar width for webpage*/
body::-webkit-scrollbar {
    width: 0.15rem;
}
/* scroll bar bg black for webpage*/
body::-webkit-scrollbar-track {
    background: black;
}
/* scroll bar gold for webpage*/
body::-webkit-scrollbar-thumb {
    background: gold;
}

#deck {
    color: rgb(206, 11, 11);
    width: 100%;
}

#magic {
    color: rgb(206, 11, 11);
    width: 100%;
}

/* side nav bar  */
.navbar {
    width: 5rem;
    height: 91.4vh;
    position: absolute;
    background-color: rgba(26, 26, 26, 0.906);
    transition: 200ms ease;
    
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: rgba(26, 26, 26, 0.906);
    text-decoration: none;
    filter: grayscale(100%)opacity(0.7);
    transition: 600ms;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
/* hover for the navbar, width determines the how far it will cover page */
.navbar:hover {
    width: 20rem;
}

.navbar:hover .link-text {
    display: block;
}
/* removes previous grayscale of the nav bar icon */
#nav-link:hover {
    filter: grayscale(0%) opacity(1);
}


header {
    height: 5rem;
    width: 100vw;
}

.nav-item,#search,#searchBtn {
    position: relative;
    top: 2rem;
    height: 1rem;
}
.nav-icon:last-child{
    margin-top: 73vh;
}

#search,#searchBtn {
    height: 2rem;
}

#searchBtn {
    font-size: .8em;
    line-height: 0em;

}

.gsc-control-cse{
position: relative;
top: 130px;
border-radius: 2em;
margin-left: 15rem;
overflow-y: scroll;
max-height: 43rem;
}

.gsc-control-cse::-webkit-scrollbar {
    width: 0.15rem;
}

.gsc-control-cse::-webkit-scrollbar-track {
    background: black;
}

.gsc-control-cse::-webkit-scrollbar-thumb {
    background: gold;
}


#googleHeader{
    position: absolute;
    top: 130px;
    margin-left: 15rem;
    display: inline;
    width: 50vw;
}

a #title{
    color: rgb(206, 11, 11);
    transition: 600ms ease;
}

#searchGrid{
  background-color: black;  
  border: .2rem solid black;
  height: 50rem;
  overflow-y: scroll;  
  
}

#searchGrid::-webkit-scrollbar {
    width: 0.15rem;
}

#searchGrid::-webkit-scrollbar-track {
    background: black;
}

#searchGrid::-webkit-scrollbar-thumb {
    background: gold;
}

#galleryGrid{
    background-color: black;  
    border: .2rem solid black;
    height: 50rem;
    overflow-y: scroll;  
    
  }
  
  #galleryGrid::-webkit-scrollbar {
      width: 0.15rem;
  }
  
  #galleryGrid::-webkit-scrollbar-track {
      background: black;
  }
  
  #galleryGrid::-webkit-scrollbar-thumb {
      background: gold;
  }
@media only screen and (max-width:1107px) {
    .nav-item,#search,#searchBtn {
        position: relative;
        top: 2rem;
        height: 1rem;
    }
    #search,#searchBtn {
        height: 2rem;
    }
    #search {
        width: 7rem;
    }
    #searchBtn {
        line-height: 0em;
        width: 3.rem;
        font-size: 11px;
        font-weight: bold;
    
    }
    
}
@media only screen and (max-width:998px) {
    .nav-item,#search,#searchBtn {
        position: relative;
        top: 2rem;
        height: 1rem;
        padding:0px;
    }
    #search,#searchBtn {
        height: 2rem;
    }
    #search {
        width: 7rem;
    }
    #searchBtn {
        line-height: 0em;
        width: 3rem;
        font-size: 11px;
        font-weight: bold;
    
    }

    /* .nav-item {
        position:relative;
        left:1rem;
        
        
    }  */

    
}
@media only screen and (max-width:985px) {
    .nav-item,#search,#searchBtn {
        position: relative;
        top: 2rem;
        height: 1rem;
        padding-left:0px;
        padding-right: 0px;
    }
    #search,#searchBtn {
        height: 2rem;
    }
    #search {
        width: 5rem;
    }
    #searchBtn {
        line-height: 0em;
        width: 3rem;
        font-size: 11px;
        font-weight: bold;
    
    }
    @media only screen and (max-width:950px) {
        .nav-item,#search,#searchBtn {
            position: relative;
            left: -1rem;
            top: 2rem;
            height: 1rem;
            padding-left:0px;
            padding-right: 0px;
        }
        #search,#searchBtn {
            height: 2rem;
        }
        #search {
            width: 3rem;
        }
        #searchBtn {
            line-height: 0em;
            width: 3rem;
            font-size: 11px;
            font-weight: bold;
        
        }

@media only screen and (min-width:600px) {

    
}
.cardImage{
    border-radius: 25px;
    background-color: black;
    margin-top: 20px;
    
}

#cardContainer{
   border: 5px solid black;
   font-size: 20px;
   font-weight: 900;
    
}