main {
    margin-left: 5rem;
    padding: 1rem;
}

body {
    background-color: gray;
}

body::-webkit-scrollbar {
    width: 0.15rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: gold;
}

#deck {
    color: rgb(206, 11, 11);
    width: 100%;
}

/* side nav bar  */
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(26, 26, 26, 0.906);
    transition: 200ms ease;
    
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: rgba(26, 26, 26, 0.906);
    text-decoration: none;
    filter: grayscale(100%)opacity(0.7);
    transition: 600ms;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
/* hover for the navbar, width determines the how far it will cover page */
.navbar:hover {
    width: 20rem;
}

.navbar:hover .link-text {
    display: block;
}
/* removes previous grayscale of the nav bar icon */
#nav-link:hover {
    filter: grayscale(0%) opacity(1);
}


header {
    height: 5rem;
    width: 100vw;
}

.nav-item,#search,#searchBtn {
    position: relative;
    top: 38px;
    height: 10px;
}


#search,#searchBtn {
    height: 40px;
}

#searchBtn {
    font-size: .8em;
    line-height: 0em;

}

.gsc-control-cse{
position: relative;
top: 130px;
border-radius: 2em;
margin-left: 15rem;
}

#googleHeader{
    position: absolute;
    top: 130px;
    margin-left: 15rem;
    display: inline;
    width: 50vw;
}

.nav-item, 

@media only screen and (max-width:600px) {}

@media only screen and (min-width:600px) {}
#cardImage{
    border-radius: 25px;
}
